<div class="box">
    <div class="header">
    Employee Details
    </div>
    <form class="form-container" [formGroup]="myForm">
        <div class="form-entity">
            <mat-form-field appearance="outline">
                <mat-label>First Name
                </mat-label>
                <input matInput placeholder="First Name" formControlName = "firstName">
                <mat-error *ngIf="firstName.invalid && firstName.touched" >
                  Invalid input
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Last Name
                </mat-label>
                <input matInput placeholder="Last Name" formControlName = "lastName">
                <mat-error *ngIf="lastName.invalid && lastName.touched" >
                  Invalid input
                </mat-error>
              </mat-form-field>
        </div>
        <div class="form-entity">
            <mat-form-field appearance="outline">
                <mat-label>Email Address
                </mat-label>
                <input matInput placeholder="Email" formControlName = "email">
                <mat-error *ngIf="email.invalid && email.touched" >
                  Invalid input
                </mat-error>
              </mat-form-field>
        </div>
        <div class="form-entity">
            <mat-form-field appearance="outline">
                <mat-label>Phone Number
                </mat-label>
                <input matInput placeholder="Number" formControlName = "phoneNumber">
                <mat-error *ngIf="phoneNumber.invalid && phoneNumber.touched" >
                  Invalid input
                </mat-error>
              </mat-form-field>
        </div>
        <!-- <div class="form-entity">
            <mat-radio-group aria-label="Select an option" formControlName = "gender">
                <mat-radio-button [value]="option" *ngFor = "let option of options ">{{option}}</mat-radio-button>
              </mat-radio-group>
        </div> -->
        <!-- <br> -->
        <div class="form-entity">
            <mat-form-field appearance="fill">
                <mat-label>DOB</mat-label>
                <input matInput [matDatepicker]="picker" formControlName = "date">
                <mat-error *ngIf="date.invalid && date.touched" >
                  Invalid input
                </mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div>
        <div class="form-entity">
            <mat-form-field appearance="fill">
                <mat-label>Select a Department</mat-label>
                <mat-select formControlName = "department">
                  
                  <mat-option *ngFor="let department of department" [value]="department">
                    {{department}}
                  </mat-option>
                  
                </mat-select>
                <mat-error *ngIf="depart.invalid && depart.touched">
                  Invalid input
                </mat-error>
              </mat-form-field>     
        </div>
        <div class="form-entity" formControlName = "agree">
            <mat-checkbox>I agree with Terms and Conditions.</mat-checkbox>
            <mat-error *ngIf="agree.invalid && agree.touched">
              Invalid input
            </mat-error>

        </div>
        <div class="button-wrapper">
            <button (click)="onSubmit()" mat-raised-button color="primary" [disabled]="myForm.invalid">Submit</button>
        </div>
    </form>
</div>